<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="admin-audit-trail.css"> 
<title>Candy Van Admin Audit Log</title>
</head>
<body>
    <div class="bg-image"></div>
    <div class="header"></div>
    <div class="logo">Candy Van</div>
    <div class="scrollbox-title center-text">
        <div class="scrollbox-title-text">Audit Log</div>
    </div>
    <div class="user-search">
        <form action="/action_page.php">
            <input type="text" id="fname" name="fname" placeholder="Search User">
        </form>
    </div>
    <div class="scrollbox"></div>
    <div class="admin-home">
        <a href="admin/" class="button">Admin Page</a>
    </div>
    <div class="sell-page">
        <a href="sell/" class="button">Sell </a>
    </div>
</body>
</html>